*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --primary: #ffffff;
  --secondary: #12372a;
  --tertiary: #faf8ec;
  --accent: #f1c30c;
  --accent-3: rgba(18, 55, 42, 0.8);
  --color-2: #ececec;
  --color-3: #faf8ec;
  --color-4: #f1ffea;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-4);
}
h2 {
  color: var(--accent);
  font-size: 4rem;
  font-weight: 800;
}
h3 {
  font-size: 3.25rem;
  font-weight: 700;
}
h4 {
  font-size: 1.56rem;
  font-weight: 700;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
h6 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* MARK: Buttons */
.btn {
  background-color: var(--accent);
  color: var(--secondary);
  border: none;
  border-radius: 0.3rem;
  font-family: 'Urbanist', sans-serif;
  font-size: 0.94rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.6rem 1.4rem;
}

.btn-light-bg:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.btn-dark-bg:hover {
  background-color: var(--primary);
}

/* MARK: NavLinks */
.navlinks {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.125rem;
    list-style: none;
  }

  .navlink {
    color: var(--secondary);
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
  }

  .navlink:hover {
    color: var(--accent);
  }
}

/* MARK: SocialLinks */
.sociallinks {
  ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
  }

  .sociallink {
    color: var(--secondary);
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
  }

  .sociallink:hover {
    background-color: var(--primary);
  }
}

/* MARK: Tiles */
.tiles-container {
  width: 34ch;
  background: var(--primary);
  border: 3px solid var(--color-2);
  border-radius: 0.625rem;
  padding: 0.8rem 1.56rem;

  p {
    font-family: 'Inter';
    padding: 0.6rem 0;
  }

  &:hover {
    border: 3px solid var(--accent);
  }
}

/* MARK: PriceList */
.price-card {
  width: 33ch;
  background: var(--color-4);
  border: 3px solid var(--color-2);
  border-radius: 0.625rem;
  padding: 2.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  .price-span {
    display: flex;
    gap: 1.3rem;

    span {
      color: var(--accent);
      font-size: 1.5rem;
      font-weight: 600;
      padding-top: 0.5rem;
    }

    h3 {
      color: var(--accent);
    }

    .month {
      display: flex;
      align-items: self-end;
      padding-bottom: 0.8rem;
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-bottom: 1rem;
  }

  .line {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
  }

  ul {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0;
    list-style: none;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      padding-bottom: 0.4rem;

      .check-icon {
        color: var(--secondary);
      }
    }
  }

  &:hover {
    background: var(--secondary);
    color: var(--primary);

    .line {
      border-bottom: 1px solid var(--primary);
    }

    .check-icon {
      color: var(--accent);
    }
  }
}

/* MARK: ReviewCard */
.review-card {
  background: var(--Primary);
  color: var(--secondary);
  width: 44ch;
  padding: 1.6rem;
  border-radius: 0.625rem;

  .rating-stars {
    font-size: 1.4rem;
  }

  .review-post {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0 1.5rem 0;
  }

  .user-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0.5rem 0;

    .author-info {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      .avatar {
        background-color: #c4c4c4;
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
      }

      .user {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p {
          font-family: 'Inter', sans-serif;
          text-transform: capitalize;
          font-size: 0.87rem;
        }
      }
    }
  }
}

/* MARK: BlogCard */
.blog-card {
  background: var(--secondary);
  color: var(--primary);
  width: 45ch;
  padding: 1.56rem;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: column;

  .image-container {
    background: #c4c4c4;
    width: 23.7rem;
    height: 15.8rem;
    border-radius: 0.3rem;
  }

  .content-container {
    padding: 1.25rem 0;
    font-family: 'Inter', sans-serif;

    .date-stamp {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      p {
        font-size: 0.87rem;
        padding-top: 0.3rem;
      }
    }

    h6 {
      font-family: 'Urbanist', sans-serif;
      padding: 1.25rem 0;
    }

    .content {
      padding-bottom: 1.3rem;
    }

    a {
      color: var(--accent);
      text-decoration: none;

      display: flex;
      align-items: center;
      gap: 0.7rem;
    }
  }

  &:hover {
    background: var(--color-4);
    color: var(--secondary);
  }
}

/* MARK: IconBlock */
.icon-block {
  width: 69ch;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: end;
  gap: 1.56rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .description {
      font-family: 'Inter', sans-serif;
    }
  }
}

/* InputField */
.input-container {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  label {
    padding-bottom: 0.5rem;

    /* span {
      color: #ff0000;
      padding-left: 0.5ch;
    } */
  }

  .input-field {
    width: 100%;
    padding: 1.3rem;
    border: 2px solid var(--accent);
    border-radius: 0.3rem;
    font-size: 1rem;
    flex: 1;
  }

  input::placeholder {
    color: var(--accent);
  }
}

/* MARK: StatsCard */
.stats-container {
  background: var(--secondary);
  border-radius: 0.625rem;
  padding: 1.6rem 2.8rem;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.9rem;

  h2 {
    color: var(--accent);
    line-height: 1.2;
  }

  p {
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    text-transform: capitalize;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* MARK: LogoBanner */
.logo-banner {
  background: var(--color-3);
  width: 100%;
  padding: 2.4rem 0;

  display: flex;
  justify-content: center;

  .logo-container {
    max-width: 1364px;
    display: flex;
    gap: 4.3rem;
  }
}

/* MARK: Header */
header {
  display: flex;
  flex-direction: column;

  .contact-container {
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;

    .contact {
      font-family: 'Inter', sans-serif;
      color: var(--primary);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        padding-right: 1.25rem;
      }

      .mail {
        font-size: 1.25rem;
      }
    }
  }

  nav {
    background: var(--primary);
    padding: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* MARK: Hero */
/* MARK: About */
/* MARK: Services */
/* MARK: Testimonials */
/* MARK: Marketing */
/* MARK: PricingPlan */
/* MARK: (PerfectFit?) */
/* MARK: Blog */
/* MARK: Newsletter */

/* MARK: Footer */

footer {
  background: var(--secondary);

  .footer-container {
    max-width: 1364px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    padding: 2.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .terms-policy {
      display: flex;
      gap: 3rem;

      p {
        display: flex;
        align-items: center;
        gap: 0.56rem;
      }
    }
  }
}
