*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Urbanist', sans-serif;
  color: var(--secondary);
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --primary: #ffffff;
  --secondary: #12372a;
  --tertiary: #faf8ec;
  --accent: #f1c30c;
  --accent-3: rgba(18, 55, 42, 0.8);
  --color-2: #ececec;
  --color-3: #faf8ec;
  --color-4: #f1ffea;
  --color-5: rgba(241, 255, 234, 0.56);
}

/* MARK: Globals */
h1 {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-4);
}
h2 {
  color: var(--accent);
  font-size: 4rem;
  font-weight: 800;
}
h3 {
  color: var(--secondary);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
}
h4 {
  color: var(--accent);
  font-size: 1.56rem;
  font-weight: 700;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
h6 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  font-family: 'Inter', sans-serif;
}

/* MARK: Buttons */
.btn {
  background-color: var(--accent);
  color: var(--secondary);
  border: none;
  border-radius: 0.3rem;
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  text-transform: capitalize;
  padding: 0.6rem 1.4rem;
}

.btn-light-bg:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.btn-dark-bg:hover {
  background-color: var(--primary);
}

/* MARK: NavLinks */
.navlinks {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.125rem;
    list-style: none;
  }

  .navlink {
    color: var(--secondary);
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
  }

  .navlink:hover {
    color: var(--accent);
  }
}

/* MARK: SocialLinks */
.sociallinks {
  ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
  }

  .sociallink {
    color: var(--secondary);
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
  }

  .sociallink:hover {
    background-color: var(--primary);
  }
}

/* MARK: Tiles */
.tiles-container {
  background: var(--primary);
  border: 3px solid var(--color-2);
  border-radius: 0.625rem;
  padding: 0.8rem 1.56rem;

  .description {
    font-family: 'Inter';
    padding: 0.5rem 0;
  }

  &:hover {
    border: 3px solid var(--accent);
  }
}

/* MARK: PriceList */
.price-card {
  width: 33ch;
  background: var(--color-4);
  border: 3px solid var(--color-2);
  border-radius: 0.625rem;
  padding: 2.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  .price-span {
    display: flex;
    gap: 1.3rem;

    span {
      color: var(--accent);
      font-size: 1.5rem;
      font-weight: 600;
      padding-top: 0.5rem;
    }

    h3 {
      color: var(--accent);
    }

    .month {
      display: flex;
      align-items: self-end;
      padding-bottom: 0.8rem;
    }
  }

  p {
    text-align: center;
    padding-bottom: 1rem;
  }

  .line {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
  }

  ul {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0;
    list-style: none;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      padding-bottom: 0.4rem;

      .check-icon {
        color: var(--secondary);
      }
    }
  }

  &:hover {
    background: var(--secondary);
    color: var(--primary);

    .line {
      border-bottom: 1px solid var(--primary);
    }

    .check-icon {
      color: var(--accent);
    }
  }
}

/* MARK: ReviewCard */
.review-card {
  background: var(--primary);
  color: var(--secondary);
  width: 44ch;
  padding: 1.6rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .rating-stars {
    font-size: 1.4rem;
  }

  .review-post {
    font-family: 'Inter', sans-serif;
    padding: 1rem 0 1.5rem 0;
  }

  .user-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0.5rem 0;

    .author-info {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      .avatar {
        img {
          width: 4.4rem;
          height: 4.4rem;
          border-radius: 50%;
        }
      }

      .user {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p {
          text-transform: capitalize;
          font-size: 0.87rem;
        }
      }
    }
  }
}

/* MARK: BlogCard */
.blog-card {
  background: var(--secondary);
  color: var(--primary);
  width: 45ch;
  padding: 1.56rem;
  border-radius: 0.3rem;
  height: auto;

  display: flex;
  flex-direction: column;

  .image-container {
    width: 23.7rem;
    height: 15.8rem;
    border-radius: 0.3rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-container {
    padding: 1.25rem 0;
    font-family: 'Inter', sans-serif;

    .date-stamp {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      p {
        font-size: 0.87rem;
        padding-top: 0.3rem;
      }
    }

    h6 {
      font-family: 'Urbanist', sans-serif;
      padding: 1.25rem 0;
    }

    .content {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }

    .no-line-clamp {
      overflow: visible;
      display: block;
      -webkit-box-orient: horizontal;
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }

    .read-more {
      color: var(--accent);
      text-decoration: none;
      padding-top: 1.3rem;

      display: flex;
      align-items: center;
      gap: 0.7rem;
    }
  }

  &:hover {
    background: var(--color-4);
    color: var(--secondary);
    cursor: pointer;
  }
}

/* MARK: IconBlock */
.icon-block {
  width: 69ch;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: end;
  gap: 1.56rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .description {
      font-family: 'Inter', sans-serif;
    }
  }
}

/* MARK: InputField */
.input-container {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  label {
    padding-bottom: 0.5rem;
  }

  .input-field {
    width: 100%;
    padding: 1.3rem;
    border: 2px solid var(--accent);
    border-radius: 0.3rem;
    font-size: 1rem;
    flex: 1;
  }

  input::placeholder {
    color: var(--accent);
  }
}

/* MARK: StatsCard */
.stats-card {
  background: var(--secondary);
  border-radius: 0.625rem;
  padding: 1.6rem 2.8rem;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.9rem;

  h2 {
    color: var(--accent);
    line-height: 1.2;
  }

  p {
    color: var(--primary);
    text-transform: capitalize;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* MARK: LogoBanner */
.logo-banner {
  background: var(--color-3);
  width: 100%;
  padding: 2.4rem 0;

  display: flex;
  justify-content: center;

  .logo-container {
    max-width: 1364px;
    display: flex;
    gap: 4.3rem;
  }
}

/* MARK: Form */

.form-container {
  font-family: 'Inter', sans-serif;
  width: 41.6rem;
  background-color: var(--color-3);
  border-radius: 10px;
  padding: 2rem;

  .form-row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  .form-group {
    display: flex;
    gap: 1.25rem;

    .form-row {
      flex: 1;
    }
  }

  .form-label {
    text-transform: capitalize;
    padding: 0.5rem;
  }

  .form-input,
  .form-message {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid var(--accent);
    border-radius: 5px;
    flex: 1;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--accent);
  }
}

/* MARK: Header */
header {
  display: flex;
  flex-direction: column;

  .contact-banner {
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;

    .contact {
      font-family: 'Inter', sans-serif;
      color: var(--primary);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        color: var(--primary);
        padding-right: 1.25rem;
      }

      .mail {
        font-size: 1.25rem;
      }
    }
  }

  nav {
    background: var(--primary);
    padding: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* MARK: Hero */
.hero-section {
  background: var(--accent-3);

  .hero-container {
    max-width: 1364px;
    margin: 0 auto;
    padding-top: 10rem;

    display: flex;
    justify-content: space-between;

    .content-container {
      max-width: 44rem;

      h4 {
        color: var(--accent);
      }

      h1 {
        line-height: 100%;
        padding: 1.25rem 0;
      }

      p {
        color: var(--primary);
        padding-bottom: 1.25rem;
      }
    }

    .image-container {
      max-height: 33.4rem;
    }
  }
}

/* MARK: subHero */
.subpage-hero-section {
  background: var(--accent-3);

  .subpage-hero-content {
    max-width: 1364px;
    margin: 0 auto;
    padding: 9rem 0;

    .description {
      color: var(--color-4);
      max-width: 50%;
    }
  }
}

/* MARK: About */
.about-container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 5.8rem 0;

  display: flex;
  gap: 1.7rem;

  .image-container {
    position: relative;

    .stats-card {
      position: absolute;
      bottom: 1rem;
      left: 1.8rem;
      z-index: 2;
    }

    .image {
      position: relative;
      width: 42rem;
      height: 27.6rem;
      border: 5px solid var(--color-2);
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;

    h4 {
      background: var(--accent-3);
      color: var(--accent);

      /* Due to insufficient contrast ratio, I add a background to the section title (h4) */
    }

    h3 {
      padding: 0.5rem 0;
    }

    .text {
      padding: 0.5rem 1rem 0.5rem 0;
    }
  }

  .tiles {
    display: flex;
    gap: 1.3rem;
  }

  .discover-more {
    padding: 3rem 0 3.4rem 0;
    display: flex;
    align-items: center;
    gap: 5.5rem;

    .info-container {
      display: flex;
      gap: 2rem;
    }
  }
}

/* MARK: Services */
.services-container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 5.8rem 0;

  .section-title {
    background: var(--accent-3);
    color: var(--accent);

    /* Due to insufficient contrast ratio, I add a background to the section title (h4) */
  }

  .text-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    gap: 5.8rem;

    .title {
      padding: 0.5rem 0;
    }

    .description {
      max-width: 41rem;
    }
  }

  .details-container {
    display: flex;
    gap: 2rem;

    .detail-content {
      max-width: 24.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .image-container {
      width: 32.4rem;
      height: 20.4rem;
      border: 5px solid var(--color-2);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* MARK: Testimonials */
.overlay {
  border-image: linear-gradient(rgba(18, 55, 42, 0.8)) fill 1;
}

.testimonials-container {
  padding: 5.6rem 0;

  &.bg-image {
    background-image: url('./assets/testimonials-bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .testimonials-intro {
    max-width: 1364px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .section-title {
      color: var(--accent);
    }

    .title {
      color: var(--primary);
      padding: 1.5rem;
    }

    .description {
      color: var(--primary);
      max-width: 66rem;
      text-align: center;
      padding-bottom: 1.75rem;
    }
  }

  .review-cards {
    max-width: 1364px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
  }
}

/* MARK: Marketing */
.marketing-container {
  background: var(--color-3);
  padding: 6rem 0;

  &.white {
    background: var(--primary);
  }

  .marketing-content {
    max-width: 1364px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .section-title {
      background: var(--accent-3);
      color: var(--accent);

      /* Due to insufficient contrast ratio, I add a background to the section title (h4) */
    }

    .marketing-intro {
      display: flex;
      align-items: center;

      .description {
        max-width: 41rem;
      }
    }

    .details-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .image {
        width: 41.2rem;
        height: 26.5rem;
        border: 5px solid var(--color-2);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* MARK: PricingPlan */
.pricing-plan-container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 6rem 0;

  display: flex;
  flex-direction: column;

  .section-title {
    background: var(--accent-3);
    color: var(--accent);
  }

  .title {
    max-width: 42rem;
    padding: 1.75rem 0;
  }

  .price-cards-container {
    display: flex;
    justify-content: space-between;
  }
}

/* MARK: PerfectFit */
.section-container {
  background: var(--accent-3);
  padding: 6rem 0;

  .content-container {
    max-width: 1364px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;

    .title,
    .description {
      color: var(--primary);
      text-align: center;
      padding: 0 10rem;
    }
  }
}

/* MARK: Blog */
.blog-container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 6rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.625em;

  .section-title {
    background: var(--accent-3);
    color: var(--accent);
  }

  .blog-intro {
    display: flex;
    align-items: center;

    .description {
      max-width: 41rem;
    }
  }

  .blog-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* MARK: ContactUs */
.contact-container {
  width: 1364px;
  margin: 0 auto;
  padding: 6rem 0;

  display: flex;
  justify-content: space-between;

  .contact-content {
    max-width: 42rem;

    .section-title {
      background: var(--accent-3);
      color: var(--accent);

      /* Due to insufficient contrast ratio, I add a background to the section title (h4) */
    }

    .title {
      padding: 1rem 0;
    }
    .description {
      padding-bottom: 1rem;
    }
    .image-container {
      width: 41.5rem;
      height: 25rem;
      border: 5px solid var(--color-2);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* MARK: FindUsOn */
.find-us-section {
  background-color: var(--accent-3);

  .content-container {
    width: 1364px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .image-container {
      max-height: 37.6rem;
      padding: 6rem 0 0 6rem;
    }

    .info-container {
      background-color: var(--color-5);
      padding: 3rem;

      display: flex;
      flex-direction: column;
      gap: 1.68rem;

      .description {
        max-width: 32rem;
      }

      .contact-block {
        display: flex;
        gap: 1rem;

        .find-us-icon {
          background-color: var(--secondary);
          color: var(--accent);
          font-size: 2.5rem;
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .social-container {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        .line {
          width: 10rem;
          border-top: 2px solid var(--secondary);
        }
      }
    }
  }
}

/* MARK: FAQs */
.faqs-container {
  max-width: 1364px;
  margin: 0 auto;
  padding: 6rem 0;

  display: flex;
  justify-content: space-between;

  .faqs-content {
    .title {
      padding-top: 0.5rem;
    }

    .description {
      max-width: 40rem;
      padding: 1.25rem 0;
    }
  }

  .accordion {
    width: 42rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .accordion-item {
      .item-title {
        background-color: var(--color-2);
        color: var(--secondary);
        font-size: 1.125rem;
        font-weight: 600;
        padding: 0.9rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        &:hover,
        &.active {
          background-color: var(--accent);
          color: var(--primary);
          cursor: pointer;
        }
      }

      .item-description {
        padding: 1.4rem 3rem 0 3rem;
      }
    }
  }
}

/* MARK: BookingUnit */
.booking-container {
  width: 1364px;
  margin: 0 auto;
  padding: 6rem 0;

  display: flex;
  flex-direction: column;

  .section-title {
    background: var(--accent-3);
    color: var(--accent);

    /* Due to insufficient contrast ratio, I add a background to the section title (h4) */
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .title {
      max-width: 42rem;
    }

    .description {
      max-width: 41rem;
    }
  }

  .booking-unit-container {
    display: flex;
    justify-content: space-between;

    .image-container {
      width: 42rem;
      height: 34rem;
      border: 5px solid var(--color-2);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* MARK: Newsletter */
.newsletter-container {
  background: var(--color-3);
  padding: 2.125rem 0;

  .content-container {
    max-width: 1364px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .text-content {
      max-width: 41rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .subscribe-container {
      display: flex;
      align-items: center;

      .input-field {
        width: 33rem;
      }

      .btn {
        padding: 1.15rem;
      }
    }
  }
}

/* MARK: Footer */
footer {
  background: var(--secondary);

  .footer-container {
    max-width: 1364px;
    margin: 0 auto;

    color: var(--primary);
    padding: 2.25rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .terms-policy {
      display: flex;
      gap: 3rem;

      p {
        display: flex;
        align-items: center;
        gap: 0.56rem;
      }
    }
  }
}

/* MARK: Error */
.error-container {
  background: var(--accent-3);
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    color: var(--primary);
  }

  .title {
    color: var(--accent);
    text-transform: capitalize;
  }

  .description {
    color: var(--primary);
    max-width: 40rem;
    text-align: center;
    padding-bottom: 1.56rem;
  }
}
